# Created by .ignore support plugin (hsz.mobi)
*.iml
*.ipr
*.iws
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.cache/
.com.apple.timemachine.donotpresent
.directory
.dynamodb/
.env
.env.test
.eslintcache
.fseventsd
.fuse_hidden*
.fusebox/
.grunt
.idea
.idea_modules/
.lock-wscript
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/unplugged
Icon
Network Trash Folder
Temporary Items
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist
fabric.properties
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*
